.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Helvetica Neue', sans-serif;
    box-sizing: border-box; 
  }
  
  .submitlogin{
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #8b5c7e;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
  }
  
  button:hover {
    background-color: #704b67;
  }
  